:root {
	--button-background: hsla(var(--neutral-lightest-hsl), .05);
	--button-background-hover: hsla(var(--neutral-lightest-hsl), .08);
	--button-background-focus: hsla(var(--neutral-lightest-hsl), .12);

	.base-button {
		&.primary {
			--button-icon-color: var(--primary);
		}

		&.secondary {
			--button-icon-color: var(--secondary);
		}

		&.large {
			font-size: var(--font-size-sm);
			padding: var(--spacer-2) var(--spacer-4);
		}
	}
}
