> * + * {
	margin-top: var(--spacer-3);
}

h1, h2, h3, h4 {
	&:not(:first-child) {
		margin-top: var(--spacer-4);
	}
}

b, strong {
	font-weight: bolder;
}

i, em {
	font-style: italic;
}

code {
	font-family: monospace;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: underline var(--secondary) dotted 2px !important;

	&:hover {
		text-decoration-color: hsl(var(--secondary-hs), 60%) !important;
	}
}
