@import "udany-toolbox/scss/reset";
@import "udany-toolbox/scss/utility";
@import "./styles/variables-css";
@import "./styles/typography";
@import "./styles/layout";
@import "./styles/button";

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
	color: white;
}
